*{
    outline: none;
}
/*1. Стоит ли задавать минимальный размер?
 Тогда при уменьшении страницы мы получаем что страница вся отдаляется. Или она должна  растягиваться? */
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #6d6e71;
    min-width: 540px;
    margin: 0;
    padding: 0;
    
}

/* 2.В макете полоса горизонтального меню продолжается на всю ширину (для этого можно просто убрать max-width:),
 но тогда у меня не получается  центрировать меню на странице страницы, т.к. я использую
 justify-content: space-between и поиск разнести в разные стороны. И тут я не совсем понимаю как сделать по макету.*/
header{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
/* Контакты пропадают при уменьшении размера,как сделать чтобы не пропадали? Что не так? */
.top_header{
    width: 85vw; 
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;

}
.contacts{
    display: flex;  
    position: relative;
    align-items: flex-end;
}
.contacts label{
    cursor: pointer;
    min-width: 4rem; 
    min-height: 1.9rem;
    background-position: top center;
}

#phone, #geo, #post{
    display: none;
}

#phone + label{
    background: url(img/phone.png) no-repeat;
    background-position: top center;
}
#phone + label:hover{
    background: url(img/phone_active.png) no-repeat;
    background-position: top center;
}
#phone:checked + label{
    background: url(img/phone_active.png) no-repeat ;
    background-position: top center;
}

#geo + label{
    background: url(img/geo.png) no-repeat;
    min-height: 2.2rem;
    border-right: 0.01rem solid rgb(204,204,204);
    border-left: 0.01rem solid rgb(204,204,204);
    background-position: top center;
}
#geo + label:hover{
    background: url(img/geo_active.png) no-repeat;
    background-position: top center;
}
#geo:checked + label{
    background: url(img/geo_active.png) no-repeat;
    background-position: top center;
}

#post + label{
    background: url(img/post.png) no-repeat;
    background-position: top center;
}
#post + label:hover{
    background: url(img/post_active.png) no-repeat;
    background-position: top center;
}
#post:checked + label{
    background: url(img/post_active.png) no-repeat;
    background-position: top center;
}
.contact .info>a, .contact .info>a:active, .contact .info>a:visited, .contact .info>a:focus{
  text-decoration: none;
}

.contacts label>span{
    display: none;
}

.contacts [name="contacts"]:checked + label>span{
    display: block;
    position: absolute;
    line-height: 48px;
    border: 0.15rem solid #bcbec3;;
    border-radius: 0.4rem;
    top: -1.2rem;
    text-align: center;
    right: -1rem;
    width: 13rem;
    height: 3rem;
}

/*3.Сделала контакты через  radiobutton, но как сделать  дезактиванцию нажатием на другое элемент 
на странице ?*/

.bottom_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
    border-top: 0.08rem solid #eceef4;
    border-bottom: 0.08rem solid #eceef4;
}
.bottom_header nav{
    line-height: 27px;
}
nav ul{
    width: 100%;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav ul>li{
    font-weight: 900;
    padding: 2rem 2rem;
    font-size: 13px;
    height: 2rem;

}
nav li:not(:last-child){
    border-right: 0.08rem solid #eceef4;
}
nav ul>li:first-child{
    margin-left: 1rem;
}
nav ul>li:hover{
    text-transform: uppercase;
    color: #1faae2;
}

nav li:hover {
    background-image: url(img/active.png);
    background-repeat: no-repeat;
    background-position: center bottom; 
    cursor: pointer;
}


.search{
    padding-left: 2rem;
    position: relative; 
}

.search > input{
    width: 10rem;
    font-size: 14px;
    padding: 0.4rem;
    border: none;
    margin-right: 3rem;
}

.search > button{
    display: block;
    position: absolute;
    left: -0.1rem; 
    width: 2rem;
    height: 2rem;
    background: url(img/search.png) no-repeat; 
    border: none;
}

/* 4.При увелечении масштаба съезжает влево надпись, видимо не так делаю position */
main{
    position: relative;
    height: 900px;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    background: url(img/iback.png) no-repeat center bottom;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 270px;
    color: #ffffff;
    text-align: center;
}
 main .words{
    display: block;
    position: absolute;
    left: 8rem; 
    width: 100%;
    margin: 4rem auto 0;
    font-size: 52px;
    line-height: 81px;
    text-align: center;
 
} 

.words h1{
    position: absolute;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0rem 0rem 2.8rem rgba(1,1,1,0.75);
    z-index: 2;
    margin: 0;
}

.words span{
    position: absolute;
    top: 1rem;
    left: 1rem; 
    font-size: 130px;
    font-weight: 800;
    width: 87px;
    height: 90px;
    border-radius: 6px;
    color: #bbedff;
    z-index: 1;
}

.words h3{
    position: absolute;
   top: 3rem;
    left: 8rem; 
    font-size: 45px;
    font-weight: 100;
    text-shadow: 0.5px 0.866px 2px rgba(1,1,1,0.15);
    margin: 0;
}
/*5. Как правильно было делать фоновую синию картинку background тега main  пойдет?*/
/*6. Хотелось бы сделать слайдер работающим в не просто "заглушкой" плохо представляю как реализовать его.
Чтобы при нажати на стрелку менялись слайды например 1 2, затем 2 1. Пробовала, белеберда выходит  */
/*7. При увелечении масштаба съезжает вправо слайдер, а надо как нибудь отцентрировать.
Видимо где то  ошибка с position.*/
/* 8. */
/* 9. С сердечками непонятно как добавить и отцентрировать по нормальному,этот вариант нагло стырен
Понятнее мне было бы вставить изображения, без псевдо элементов  можно это сделать?*/
/* 10. То что я так часто использую rem это нормально? */
/*11.Сам background не в том масштабе отображается как на макете,
 видно если посмотреть на расположение слайдера при 100% масштабе */
.slider {
    display: flex;
    position: absolute;
    bottom: 11rem;
    right: 9rem;
    justify-content: center;
}
.slider .arrow{
    width: 4rem;
    padding-top: 6rem ;
    padding-left: 1rem;
    background: #f4f4f4;
}
.slider .pic{
    position: relative;
}
.slider .pic span{
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    font-size: 14px;
    line-height: 65px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

.slider div:nth-child(1) span{
    color: #adff63;
    background-color: rgba(132,202,81,0.9);
} 
.slider div:nth-child(2) span{
    color: #cc9800;
    background-color: rgba(254,235,117,0.9);
}

main .slider div:nth-child(1) span::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 1rem;
    width: 32px;
    height: 32px; 
    background: url(img/icon1.png) no-repeat center;
    padding-right: 1rem;
    background-size: 32px;
}
main .slider div:nth-child(2) span::before {
    content: '';
    display: inline-block;
    position: relative;
    top:  1rem;
    width: 32px;
    height: 32px; 
    padding-right: 1rem;
    background: url(img/icon2.png) no-repeat center;
    background-size: 32px;
}
/*12. Footer раздвигается  в стороныпри уменьшении размера.
 Как сделать так чтобы он фиксировался на одном месте без учета масштаба? */
footer{
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

footer article{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

footer article>div{
    width: 25rem;
    line-height: 24px;
    text-align: justify;
}

footer article>div>h3{
    margin-bottom: 0.6rem; 
    font-size: 20px;
}


footer img{
    margin-top:0;
    margin-right: 2rem;
}
/* 13.Внизу у страницы полоса прокрутки появилась и когда отодвигаешь там пустое место.
Я не могу понять откуда взялось. */
/*14. При переводе из px в rem нужно знать сколько задан размер шрифта в html.
Если я его не задаю то как узнать какое базовое значение? Разное ли оно в разных браузерах? */
