body {
    box-sizing: border-box;
}

button, 
button:active, 
button:focus {
    outline: none;
}

button {
    display: block;
    margin: 10% auto;
    padding: 10px 12px;  
    background: rgb(203, 203, 203);
    border: 2px solid rgb(102, 102, 102);
    -moz-border-radius:  18px; 
    -webkit-border-radius:  18px;
    border-radius: 18px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2),
                inset 0 0 0 2px rgb(255, 255, 255);
}

button span {
    margin: 0 auto;
    position: relative;
    display: block;    
    padding: 5px 15px ;           
    width: 230px;
    height: 48px;
    font: bold 26px "Arial", sans-serif;
    line-height: 50px;
    letter-spacing: -0.9px;
    color: rgb(85, 85, 85);
    text-transform: uppercase;
    text-shadow:0 1px 1px rgb(255, 255, 255);
    border: 1px solid rgb(171, 171, 171);
    -moz-border-radius:  12px; 
    -webkit-border-radius:  12px;
    border-radius: 12px;
    box-shadow: 
                inset 0 27px 3px 0px  rgb(220, 220, 220),
                0 2px 4px 0px rgba(0,0,0,0.4);
    background: linear-gradient(to top, rgb(178, 178, 178) ,rgb(226, 226, 226));
}


button span::before, button span::after {
    content: '\2605';
    color: rgb(136, 136, 136);
    line-height: 5px;
    display: inline-block;
    position: relative;
    font-size: 30px;
    margin: 7px;
} 


button:hover:not(:active) span::before, button:hover:not(:active) span::after {
    color:rgb(240,240,50);
}
button:hover {
  box-shadow: 0 0 9px 8px rgb(247, 247, 129);
}
button:hover span{
    color: rgb(201, 198, 33);
}


button:active {
    top: 1px;
    box-shadow: inset 0 0 3px 1px  rgb(131, 130, 130);
}  
button:active span::before,  button:active span::after {
    top: 1px;
    color: rgb(59, 74, 105);
} 
button:active span{
    top: 1px;
    color: rgb(59, 74, 105);
    background: linear-gradient(rgb(134, 134, 134), rgb(180, 180, 180));
} 
