div {
    background-color:#66CDAA;
}
table {
  /*   cellspacing: 0; */
    width: 300px; 
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}
td, th {
    padding: 5px;
}
th {
    text-align: left;
    border-bottom: 1px solid #000;
}
img {
    width: 200px;
    height: 222px;
}
#image {
    text-align: center;
}
