
@font-face {
    font-family: "Action_Man_Italic";
    src: url(Action_Man_Italic.ttf);
}

video {
    width: 80%;
} 
.class1 {
    background: rgb(205, 243, 99);
    font-family: "Action_Man_Italic";
    color:#FFF;
    font-weight: bold;
    text-decoration: line-through;
}
.class2 {
    background: #008B8B;
    font-size: 0.5in;
    font-family: Arial, sans-serif;
    font-style: oblique;
}
.class3 {
    background: rgb(205, 243, 99);
    font-size: 200%;
    font-family: "Times New Roman";
}
.class4 {
    background: rgb(152, 243, 99);
    font-size: 2em;
    font-family: "Bernard MT Condensed";
    font-variant:small-caps;
}
.class5 {
    background: rgb(152, 243, 99);
    font-size: 2rem;
    font-family: "Courier New", serif;
}